{
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
        "jest/globals": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "plugins": [
        "prettier",
        "jest"
    ],
    "rules": {
        "prettier/prettier": "error"
    }
}